<div class="row">
  <div class="span6 offset3">
    <%= form_for @complexity do |f| %>
      <%= display_error_messages_for f %>
      <p>
        <%= f.label :title %><br />
        <%= f.text_field :title %>
      </p>
      <p>
        <%= f.label :description %><br />
        <%= f.text_area :description %>
      </p>
      <p><%= f.submit class: "btn btn-large btn-primary" %></p>
    <% end %>
  </div>
</div>
