<%= form_for @entity_function do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :ancestry %><br />
    <%= f.text_field :ancestry %>
  </p>
  <p><%= f.submit %></p>
<% end %>
