<% title "Environment" %>

<div class="row">
  <div class="span6 offset3">
    <p>
      <strong>Parent:</strong>
      <%= @environment.parent.title if @environment.parent %>
    </p>
    <p>
      <strong>Title:</strong>
      <%= @environment.title %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= simple_format @environment.description %>
    </p>

    <p>
      <%= link_to "Edit", edit_environment_path(@environment) %> |
      <%= link_to "Destroy", @environment, :confirm => 'Are you sure?', :method => :delete %> |
      <%= link_to "View All", environments_path %>
    </p>
  </div>
</div>
