<% title "Environment" %>

<p>
  <strong>Title:</strong>
  <%= @environment.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= simple_format @environment.description %>
</p>

<p>
  <%= link_to "Edit", edit_environment_path(@environment) %> |
  <%= link_to "Destroy", @environment, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", environments_path %>
</p>
