<% title "Environment Parameters" %>

<div class="row">
  <div class="span8 offset2">
    <table class="table table-striped table-hover">

      <p><%= link_to "New Environment Parameter", new_environment_parameter_path %></p>

      <%= pagination_for @environment_parameters %>

      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% for environment_parameter in @environment_parameters %>
          <tr>
            <td><%= environment_parameter.title %></td>
            <td><%= truncate_html(simple_format environment_parameter.description) %></td>
            <%= admin_links environment_parameter %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= page_entries_info @environment_parameters %>
    <%= pagination_for @environment_parameters %>

    <p><%= link_to "New Environment Parameter", new_environment_parameter_path %></p>
  </div>
</div>
