<% title "Parameters" %>

<div class="row">
  <div class="span8 offset2">
    <p><%= link_to "New Parameter", new_parameter_path %></p>

    <%= pagination_for @parameters %>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Parent</th>
          <th>Title</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% for parameter in @parameters %>
          <tr>
            <td><%= parameter.parent.title if parameter.parent %></td>
            <td><%= parameter.title %></td>
            <td><%= simple_format parameter.description %></td>
            <td><%= link_to "View", parameter %></td>
            <td><%= link_to "Edit", edit_parameter_path(parameter) %></td>
            <td><%= link_to "Delete", parameter, :confirm => 'Are you sure?', :method => :delete %></td>
          </tr>
       <% end %>
      </tbody>
    </table>

    <%= page_entries_info @parameters %>
    <%= pagination_for @parameters %>

    <p><%= link_to "New Parameter", new_parameter_path %></p>
  </div>
</div>
