<% title "Parameter" %>

<p>
  <strong>Title:</strong>
  <%= @parameter.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @parameter.description %>
</p>

<p>
  <%= link_to "Edit", edit_parameter_path(@parameter) %> |
  <%= link_to "Destroy", @parameter, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", parameters_path %>
</p>
